{
    "titleId": "SLKT00001",
    "contentId": "SL0000-SLKT00001_00-WKALIAUTOLOADER1",
    "contentVersion": "01.067.000",
    "masterVersion": "01.00",
    "applicationCategoryType": 0,
    "backgroundBasematType": "Linear",
    "deeplinkUri": "http://127.0.0.1:18181/app/index.html",
    "localizedParameters": {
        "defaultLanguage": "en-US",
        "en-US": {
            "titleName": "PS5-WebKit-Autoloader v[[VERSION_PLACEHOLDER]]"
        }
    }
}
